.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 320px;
    padding: 20px 25px;
}

.loginBtn {
    margin-top: 10px;
    width: 150px;
    appearance: none;
    border: 1px solid var(--secondory-color);
    background: var(--inverted-bg-color);
    padding: .85em 1.5em;
    color: var(--secondory-color);
    border-radius: 2em;
    transition: 0.3s;
    transform: translate(40%, 0%);

    &:hover,
        &:active {
            background: rgb(255 255 255 / 10%);
            box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
        }
}

.entrance {
    color: var(--secondory-color);
    font-weight: 200;
    margin-bottom: 50px;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
    opacity: 0.7;
    text-align: center;
}

.input {
    width: 100%;
    background: transparent;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid var(--secondory-color);
    border-top: 1px solid var(--secondory-color);
    border-radius: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgb(0 0 0 / 20%);
    color: var(--bg-color);

    &:hover {
        background: rgb(255 255 255 / 10%);
        box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
    }
}

::placeholder {
    color: var(--secondory-color);
    text-shadow: 2px 2px 4px rgb(0 0 0 / 40%);
    font-weight: 400;
}