.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 20px 25px;
}

.loginBtn {
    margin-top: 10px;
    width: 100%;
    appearance: none;
    border: .2em solid var(--secondory-color);
    background: var(--inverted-bg-color);
    padding: .85em 1.5em;
    color: var(--secondory-color);
    border-radius: 2em;
    transition: 0.3s;

    &:hover,
        &:active {
            background: var(--secondory-color);
            color: var(--inverted-bg-color);
                opacity: 1;
        }
}

.entrance {
    color: var(--secondory-color);
    font-weight: 200;
    margin-bottom: 10px;
}

::placeholder {
    color: rgb(251 167 189 / 48.4%);
}