.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondory-color);
}

.error {
    .text {
      color: var(--error-dark);
    }

    .title {
      color: var(--error-light);
    }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.size_s {
  .title {
    font-size: var(--font-size-m);
    margin-bottom: 8px;
  }

  .text {
    font-size: var(--font-size-s);
    opacity: 0.8;
  }
}

.size_m {
  .title {
      font-size: var(--font-size-l);
  }

  .text {
      font-size: var(--font-size-m);
  }
}

.size_l {
  .title {
      font-size: var(--font-size-xl);
  }
    
      .text {
        font-size: var(--font-size-l);
      }
}