.BoxList {
  position: relative;
}

.trigger {
  margin: 0;
  width: 100%;
  border-radius: 0.5rem;
  background: transparent;
  padding: 8px 16px;
  border: none;
  border-left: 1px solid var(--secondory-color);
  border-top: 1px solid var(--secondory-color);
  color: var(--secondory-color);
      
  &:focus {
    outline: none;
  }
      
  &:hover {
    background: rgb(255 255 255 / 10%);
    box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
  }
}

.options {
   position: absolute;
   background: var(--list-box);
   z-index: 1000;
   border-radius: 0.5rem;

   &:focus {
    outline: none;
   }
}

.item {
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.focus {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.6;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}