.Button {
   cursor: pointer;

   &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
   }
}

.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
    border-radius: 0.5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--modal-z-index);
    padding: 10px 15px;
    margin: 25px;
}

.error {
    padding: 5px 10px;
    background: transparent;
    border: 0.5px solid var(--error-dark);
    color: var(--error-dark);
}

.error:hover {
    background: var(--error-dark);
    color: var(--primary-color);;
    transition: 0.3s;
}

.background {
    padding: 5px 10px;
    background: transparent;
    border: 0.5px solid var(--secondory-color);
    color: var(--secondory-color);
}

.background:hover {
    background: var(--secondory-color);
    color: var(--primary-color);
    transition: 0.3s; 
}

.backgroundInverted {
    background: transparent;
    color: var(--inverted-secondory-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font-size: var(--font-size-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font-size: var(--font-size-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font-size: var(--font-size-xl);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.size_xl {
    font-size: var(--font-size-xl);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
