.panel {
    position: absolute;
    background: var(--card-bg);
    z-index: 1000;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    color: var(--secondory-color);
    padding: 15px;
        
    &:focus {
        outline: none;
    }
}