.menu {
    position: absolute;
    background: var(--card-bg);
    z-index: 1000;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    flex-direction: column;
    display: flex;
    color: var(--primary-color);

    &:focus {
        outline: none;
    }
}

.item {
    padding: 15px 20px;
    width: 100%;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    background: none;
    border: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}