.menu {
    position: absolute;
    background: transparent;
    z-index: 1000;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    border: 1px solid var(--secondory-color);
    color: var(--secondory-color);
    flex-direction: column;
    display: flex;

    &:focus {
        outline: none;
    }
}

.item {
    padding: 10px 20px;
    width: 100%;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    background: none;
    border: none;
    outline: none;
    color: var(--secondory-color);
    cursor: pointer;
}