.Input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid var(--inverted-secondory-color);
    background: rgba(#FB92AD, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: var(--inverted-secondory-color);
    width: 100%;
}