.Wrapper {
    display: flex;
    margin-top: 12px;
    align-items: center;
}

.label {
    margin-right: 10px;
}

.select {
    background: var(--card-bg);
    outline: none;
    padding: 7px;
    border: none;
    border-bottom: 1px solid var(--secondory-color);
    color: var(--primary-color);
    width: 100%;
    border-radius: 10px;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}