.Drawer {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    align-items: flex-end;
}

.content {
    height: 50%;
    background: var(--bg-color);
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    transition: 0.3s transform;
    transform: translateY(100%);
    overflow: hidden auto;
    z-index: 1000;
}

.content::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    margin: auto;
    bottom: 40px;
    border-radius: 12px;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: translateY(0%);
    }
}

.isClosing {
    .content {
        transform: translateY(100%);
    }
}