.dark {
    --bg-color: #000;
    --inverted-bg-color: #fff;
    --primary-color: #33d1d1;
    --secondory-color: #930000;
    --inverted-primary-color: #591aa1;
    --inverted-secondory-color: #930000;
}