.App.dark {
    --bg-color: #000;
    --inverted-bg-color: #fff;
    
    --primary-color: #fff;
    --secondory-color: #930000;

    --inverted-primary-color: #000;
    --inverted-secondory-color: #930000;
}