.app_dark_theme {
    --bg-color: #030406;
    --inverted-bg-color: #363756;
    --primary-color: #a6a8cf;
    --secondory-color: #fff;
    --inverted-primary-color: #a6a8cf;
    --inverted-secondory-color: #606AA7;
    --skeleton-shadow: #a6a8cf;
    --skeleton-color: #363756;
    --code-bg: #606aa740;
    --card-bg: #606aa740;
    --list-box: #fefbfa0f;
}