.app_light_theme {
    --bg-color: #FEFBFA;
    --inverted-bg-color : #1F1F1F;
    --primary-color: #323232;
    --secondory-color: #FB92AD;
    --inverted-primary-color: #FB92AD;
    --inverted-secondory-color: #323232;
}