.ProfileHeader {
    display: flex;
    margin: 40px 0 20px;
    width: 400px;

    .editBtn {
       color: var(--inverted-primary-color);
        margin-right: 10px;
    }
}

.btnWrapper {
    margin-left: auto;
}