.CommentCard {
    appearance: none;
    padding: 10px;
    border-bottom: .2em solid var(--inverted-secondory-color);
    background: rgba(#FB92AD, .2);
    border-radius: .2em .2em 0 0;
    width: 100%;
    color: var(--inverted-secondory-color);
}

.CommentCardSkeleton {
    padding: 10px;
}

.header {
  display: flex;
  align-items: center;
}

.text {
    margin-top: 10px;
}

.username {
    margin-left: 10px;
}