.CommentCard {
    appearance: none;
    padding: 10px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--secondory-color);
    border-right: 1px solid var(--secondory-color);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    color: var(--inverted-secondory-color);
}

.header {
  display: flex;
  align-items: center;
}

.text {
   margin: 14px 0 7px 24px;;
}

.username {
    margin-left: 10px;
    margin-bottom: 10px;
}