.title {
    margin-bottom: 16px;
}

.paragraph {
    margin-top: 8px;
}

p {
    margin-top: 10px;
}

.img {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin: 20px auto;
    display: block;
}