.ProfileCard {
    padding: 20px;
    border: 0.5px solid var(--inverted-secondory-color);
    border-radius: 20px;
    width: 500px;
}

.input {
    width: 100%;
    background: transparent;
    padding: 1em;
    border: none;
    border-left: 1px solid var(--inverted-secondory-color);
    border-top: 1px solid var(--inverted-secondory-color);
    border-radius: 50px;
    
    &:hover {
        background: rgb(255 255 255 / 10%);
        box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
    }
}

.loading,
.error {
    height: 300px;
}

.editing {
    border: 1.5px solid var(--inverted-primary-color);
}