.ProfileCard {
    padding: 20px;
    border: 0.5px solid var(--inverted-secondory-color);
    border-radius: 20px;
    width: 500px;
}

.input {
    margin-top: 15px;
    width: 100%;
    background: transparent;
    padding: 1em;
    border: none;
    border-left: 1px solid var(--secondory-color);
    border-top: 1px solid var(--secondory-color);
    border-radius: 50px;
    
    &:hover {
        background: rgb(255 255 255 / 10%);
        box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
    }
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editing {
    border: 1.5px solid var(--inverted-primary-color);
}