.ProfileCard {
    padding: 20px;
    border: 0.5px solid var(--inverted-bg-color);
    border-radius: 20px;
    width: 400px;
}

.input {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}
