.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.4s;
    position: relative;
    border-radius: 0.5rem;
    left: 1vw;
    top: 1vw;
    user-select: none;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.hr {
    margin: 0;
    position: relative;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 32px);
    border: none;
    border-top: 1px solid var(--inverted-primary-color);
}

.collapsedBtn {
    position: absolute;
    right: 20px;
    top: 25px;
    color: var(--inverted-primary-color);
}

.items {
    margin-top: 80px;
    margin-left: 30px;
}

.links {
    text-decoration: none;
    margin-left: auto;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}