.Card {
       padding: 15px;
       border-radius: 10px;
}

.normal {
       background: var(--card-bg);
}

.outlined {
       border: 0.1px solid var(--primary-color);
       border-radius: 10px;
}

.clear {
       background: none;
}

.clear:hover {
       background-color: var(--card-bg);
}