.AppLink {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-secondory-color);
}